<h1><%= @park.name %></h1>
<p>Price of admissions: <%= @park.price %></p>

<h3>Rides that are at that theme park:</h3>
<% @park.rides_by_name.each do |ride| %>
  <%= ride.name %>
<% end %>

<h3>Average thirll rating: <%= @park.average_thrill_rating %></h3>
