<% @mechanics.each do |mechanic| %>
<h2>All Mechanics</h2>
<h3><%= mechanic.name  %></h3>
<h3><%= mechanic.years_of_experience  %></h3>
<% end %>
<h4>Average years experience: <%= @average_years_experience %> </h4>
