<h1>All Mechanics</h1>

<% @mechanics.each do |mechanic| %>
  <p><%= mechanic.name %></p>
  <p><%= mechanic.years_of_experience %></p>
<% end %>

<h3>Average experience across mechanics: <%= @mechanics.average_mechanic_experience %></h3>
