<h3>All Mechanics</h3>

<% @mechanics.each do |mechanic| %>
  <p>Name: <%= mechanic.name %></p>
  <p>Experience: <%= mechanic.years_of_experience %></p>
<% end %>

<p>Average Years of Experience: <%= @mechanics.average_experience %></p>
