<h1>All Mechanics</h1>

<% @mechanics.each do |mechanic|%>
  <p><%= mechanic.name%></p>
  <p><%= mechanic.years_of_experience%></p>
<%end%>

<h3>Average Years of Experience: <%= @mechanics.average_years%></h3>