<h3><%= @mechanic.name  %></h3>
<h4><%= @mechanic.years_of_experience  %></h4>
<% @rides.each do |ride|  %>
  <h6> All open rides for this mechanic, ordered by thrill rating:
    <%= ride.name %>
  </h6>
<% end %>
