<h1><%= @mechanic.name %></h1>

<h3>Years of Experience: <%= @mechanic.years_of_experience %></h3>

<h2>Ride Assignments</h2>
<% @mechanic.open_rides.each do |ride| %>
  <p><%= ride.name %></p>
<% end %>
