<h3>Mechanic Page</h3>

<p>Name: <%= @mechanic.name %></p>
<p>Experience: <%= @mechanic.years_of_experience %> years</p>

<% @open_rides.order_by_thrills.each do |ride| %>
  <p>Ride Name: <%= ride.name %></p>
<% end %>
