<div class="container" text-align="center" align="center">
<div class="card" style="width: 25rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @ride.name  %></h5>
    <p class="card-text">Thrill Rating:<%= @ride.thrill_rating  %></p>
    <a href="/amusement_parks" class="btn btn-warning btn-sm">Amusement Parks</a>
    <a href="/rides" class="btn btn-success btn-sm">Back to rides</a>
  </div>
</div>
